Rubik/Rubik-Italic-VariableFont_wght.ttf
Rubik/Rubik-VariableFont_wght.ttf
Rubik/static/Rubik-SemiBoldItalic.ttf
Rubik/static/Rubik-SemiBold.ttf
Rubik/static/Rubik-MediumItalic.ttf
Rubik/static/Rubik-Medium.ttf
Rubik/static/Rubik-LightItalic.ttf
Rubik/static/Rubik-Light.ttf
Rubik/static/Rubik-Italic.ttf
Rubik/static/Rubik-ExtraBoldItalic.ttf
Rubik/static/Rubik-ExtraBold.ttf
Rubik/static/Rubik-BoldItalic.ttf
Rubik/static/Rubik-Bold.ttf
Rubik/static/Rubik-BlackItalic.ttf
Rubik/static/Rubik-Black.ttf
